<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/static/easyui/themes/easy.common.css}"></link>
    <script th:inline="javascript">
        var contextPath = [[@{/}]];
        var interceptorToken = [[${token}]];
        var interceptorUserId = [[${userId}]];
    </script>
    <script th:src="@{/static/easyui/easy.common.js}"></script>
    <script th:src="@{/static/easyuiMask.js}"></script>
    <script th:src="@{/static/myFun.js}"></script>
    <script th:inline="javascript">
        function addUserShow() {
            $('#manager_add').dialog('open');
            $('#loginNameAdd').focus();
        }

        function opertUserState(state) {
            var showMsg = '';
            if (state == 0) {
                showMsg = '您确定解冻该用户吗？';
            } else if (state == 1) {
                showMsg = '您确定冻结该用户吗？';
            } else {
                showMsg = '您确定注销该用户吗？';
            }
            var rows = $('#manager').datagrid('getSelections');
            if (rows.length > 0) {
                $.messager.confirm('确定操作', showMsg, function (flag) {
                    if (flag) {
                        var id = rows[0].id;
                        $('#manager').datagrid('loading');
                        var result = ajaxSynchGet("user/userManage/opert", {"id": id, "state": state});
                        $('#manager').datagrid('loaded');
                        alertInfo(result.msg);
                        searchUser();
                    }
                });
            } else {
                alertWarn("请先选择记录！");
            }
        }

        function editUserShow() {
            var rows = $('#manager').datagrid('getSelections');
            if (rows.length > 0) {
                var id = rows[0].id;
                var result = ajaxSynchGet("user/userManage/getDetail", {"id":id});
                if (result.code == '200') {
                    var loginName = result.data.loginName;
                    var userName = result.data.userName;
                    var roleGroupId = result.data.roleGroupId;
                    $('#loginNameEditUser').val(loginName);
                    $('#userNameEditUser').val(userName);
                    $('#authEditUser').combobox('setValue', roleGroupId);
                    $('#manager_editUser').dialog('open');
                } else {
                    alertWarn(result.msg);
                }
            } else {
                alertWarn("请先选择记录！");
            }
        }

        function editUserPasswordShow() {
            var rows = $('#manager').datagrid('getSelections');
            if (rows.length > 0) {
                $('#manager_editUserPassword').dialog('open');
            } else {
                alertWarn("请先选择记录！");
            }
        }

        function addUserCommit() {
            if ($('#manager_add').form('validate')) {
                var loginNameAdd = $('#loginNameAdd').val();
                var userNameAdd = $('#userNameAdd').val();
                var passwordAdd = $('#passwordAdd').val();
                var authAdd = $('#authAdd').combobox('getValue');
                if (authAdd == '请选择') {
                    alertWarn('请选择用户角色！');
                } else {
                    var result = ajaxSynchPostJson("user/userManage/save", {"loginName":loginNameAdd, "userName":userNameAdd, "upwd":passwordAdd, "roleGroupId":authAdd})
                    if (result.code == '200') {
                        alertSuccess();
                        $('#manager_add').dialog('close');
                        searchUser();
                    } else {
                        alertWarn(result.msg);
                    }
                }
            }
        }

        function editUserCommit() {
            var rows = $('#manager').datagrid('getSelections');
            if (rows.length > 0) {
                var id = rows[0].id;
                var userName = $('#userNameEditUser').val();
                var auth = $('#authEditUser').combobox('getValue');
                var result = ajaxSynchPostJson("user/userManage/save", {"id":id, "userName":userName, "roleGroupId":auth});
                if (result.code == '200') {
                    alertSuccess();
                    $('#manager_editUser').dialog('close');
                    searchUser();
                } else {
                    alertWarn(result.msg);
                }
            } else {
                alertWarn('操作失败！');
            }
        }

        function editUserPasswordCommit() {
            var rows = $('#manager').datagrid('getSelections');
            if (rows.length > 0) {
                var id = rows[0].id;
                var userNewPassword = $('#userNewPassword').val();
                var result = ajaxSynchPostJson("user/userManage/updatePasswodAdmin?id=" + id + "&userNewPassword=" + userNewPassword, null);
                if (result.code == '200') {
                    alertSuccess();
                    $('#manager_editUserPassword').dialog('close');
                    searchUser();
                } else {
                    alertWarn(result.msg);
                }
            } else {
                alertWarn('操作失败！');
            }
        }

        function searchUser() {
            var result = ajaxSynchPostJson("user/userManage/search", {"loginName": $('#loginNameSearch').val(), "page":1, "rows":10});
            if (result.code == '200') {
                dataGridPageInit();
                $('#manager').datagrid('loadData', result.data);
            } else {
                alertWarn(result.msg);
            }
        }

        function dataGridInit() {
            $('#manager').datagrid({
                fit : true,
                fitColumns : true,
                striped : true,
                rownumbers : true,
                border : false,
                pagination : true,
                singleSelect:true,
                toolbar : '#manager_tool',
                columns : [[
                    {
                        field : 'id',
                        width : 100,
                        hidden : true
                    },
                    {
                        field : 'loginName',
                        title : '登录用户名',
                        width : 100
                    },
                    {
                        field : 'userName',
                        title : '用户名',
                        width : 100
                    },
                    {
                        field : 'roleGroupName',
                        title : '所属角色',
                        width : 100
                    },
                    {
                        field : 'roleGroupId',
                        width : 100,
                        hidden : true
                    },
                    {
                        field : 'userState',
                        title : '状态',
                        width : 100,
                        formatter: function(value,row,index){
                            if (value == 0){
                                return "正常";
                            } else {
                                return "冻结";
                            }
                        }
                    },
                    {
                        field : 'createDate',
                        title : '创建日期',
                        width : 100
                    }
                ]]
            });
        }

        function dataGridPageInit() {
            var p = $('#manager').datagrid('getPager');
            $(p).pagination({
                pageNumber : 1,
                pageSize : 10,
                pageList : [10, 20, 30, 40, 50],
                onSelectPage:function(pageNumber, pageSize){
                    var result = ajaxSynchPostJson("user/userManage/search", {"loginName": $('#loginNameSearch').val(), "page":pageNumber, "rows":pageSize});
                    if (result.code == '200') {
                        $('#manager').datagrid('loadData', result.data);
                    }
                },
            });
        }

        function webPageInit() {
            var result = ajaxSynchGet("user/roleManage/list", {"roleState": 0});
            if (result.code == '200') {
                $('#authAdd').combobox('loadData',result.data);
                $('#authEditUser').combobox('loadData',result.data);
            }
        }

        function keyDownInit() {
            document.onkeydown = function doKeyDown() {
                if (event.keyCode == 13) {
                    var id = document.activeElement.id;
                    if (id == "loginNameSearch") {
                        searchUser();
                        return false;
                    } else {
                        return false;
                    }
                }
            }
        }

        $(function () {
            keyDownInit();
            dataGridInit();
            searchUser();
            webPageInit();
        });
    </script>
</head>
<body>
<table id="manager">
    <div id="manager_tool">
        <div style="margin-bottom:5px;">
            <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="addUserShow()"><font size="2">新增</font></a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-edit-yellow" plain="true" onclick="editUserShow()"><font size="2">编辑</font></a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-edit-yellow" plain="true" onclick="editUserPasswordShow()"><font size="2">修改密码</font></a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-login" plain="true" onclick="opertUserState(1)"><font size="2">冻结</font></a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-ok" plain="true" onclick="opertUserState(0)"><font size="2">启用</font></a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-cancel" plain="true" onclick="opertUserState(2)"><font size="2">注销</font></a>
        </div>
        <div style="padding:0 0 0 7px;color:#333;">
            <font size="2">用户登录名</font>&nbsp;&nbsp;<input type="text" class="textbox" id="loginNameSearch" style="width:160px" />
            <a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="searchUser()">查询</a>
        </div>
    </div>
</table>

<form id="manager_add" class="easyui-dialog" style="margin:0;padding:5px 0 0 25px;color:#333;"
      data-options="top:60,width:320,title:'新增管理',modal:true,closed:true,cache:false,iconCls:'icon-add',
       onClose:function () {
            $('#manager_add').form('reset');
       },
		buttons:[{
					text : '提交',
					iconCls : 'icon-add-green',
					handler : function () {
                    addUserCommit();
					}
				},{
					text:'关闭',
					iconCls : 'icon-redo',
					handler:function(){
                    $('#manager_add').dialog('close');
					}
				}]">
    <p>登录名：<input class="easyui-validatebox" data-options="required:true,validType:'length[1,100]',missingMessage:'请输入登录名',invalidMessage:'登录名长度至少为1位'," type="text" id="loginNameAdd" style="width:200px;" /></p>
    <p>用户名：<input class="easyui-validatebox" data-options="required:true,validType:'length[1,100]',missingMessage:'请输入用户名',invalidMessage:'用户名长度至少为1位'," type="text" id="userNameAdd" style="width:200px;" /></p>
    <p>密&nbsp;&nbsp;&nbsp;码：<input class="easyui-validatebox" data-options="required:true,validType:'length[1,100]',missingMessage:'请输入密码',invalidMessage:'密码长度至少为1位'," type="text" id="passwordAdd" style="width:200px;" /></p>
    <p>角&nbsp;&nbsp;&nbsp;色：
        <select class="easyui-combobox" id="authAdd" style="width:100px;" data-options="valueField:'id',textField:'roleName'">
            <option value="请选择" selected="true" />
        </select>
    </p>
</form>

<form id="manager_editUser" class="easyui-dialog" style="margin:0;padding:5px 0 0 25px;color:#333;"
      data-options="top:60,width:320,title:'编辑管理',modal:true,closed:true,cache:false,iconCls:'icon-edit-yellow',
       onClose:function () {
            $('#manager_editUser').form('reset');
       },
		buttons:[{
					text : '提交',
					iconCls : 'icon-add-green',
					handler : function () {
                    editUserCommit();
					}
				},{
					text:'关闭',
					iconCls : 'icon-redo',
					handler:function(){
                    $('#manager_editUser').dialog('close');
					}
				}]">
    <p>登录名：<input class="easyui-validatebox" type="text" id="loginNameEditUser" style="width:200px;" disabled="disabled" /></p>
    <p>用户名：<input class="easyui-validatebox" data-options="required:true,validType:'length[1,100]',missingMessage:'请输入用户名',invalidMessage:'用户名长度至少为1位'," type="text" id="userNameEditUser" style="width:200px;" /></p>
    <p>角&nbsp;&nbsp;&nbsp;色：
        <select class="easyui-combobox" id="authEditUser" style="width:100px;" data-options="valueField:'id',textField:'roleName'" />
    </p>
</form>

<form id="manager_editUserPassword" class="easyui-dialog" style="margin:0;padding:5px 0 0 25px;color:#333;"
      data-options="top:150,width:320,title:'编辑管理',modal:true,closed:true,cache:false,iconCls:'icon-edit-yellow',
       onClose:function () {
            $('#manager_editUserPassword').form('reset');
       },
		buttons:[{
					text : '提交',
					iconCls : 'icon-add-green',
					handler : function () {
                    editUserPasswordCommit();
					}
				},{
					text:'关闭',
					iconCls : 'icon-redo',
					handler:function(){
                    $('#manager_editUserPassword').dialog('close');
					}
				}]">
    <p>新密码：<input class="easyui-validatebox" type="text" id="userNewPassword" style="width:200px;" /></p>
</form>
</body>
</html>